<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Dopamedia\StateMachine\Model\Processes\Config">
        <arguments>
            <argument name="reader" xsi:type="object">Dopamedia\StateMachine\Model\Processes\Config\Reader\Virtual</argument>
        </arguments>
    </type>
    <virtualType name="Dopamedia\StateMachine\Model\Processes\Config\Reader\Virtual" type="\Magento\Framework\Config\Reader\Filesystem">
        <arguments>
            <argument name="fileName" xsi:type="string">state_machine.xml</argument>
            <argument name="schemaLocator" xsi:type="object">Dopamedia\StateMachine\Model\Processes\Config\SchemaLocator\Virtual</argument>
            <argument name="converter" xsi:type="object">Dopamedia\StateMachine\Model\Processes\Config\Converter</argument>
        </arguments>
    </virtualType>
    <virtualType name="Dopamedia\StateMachine\Model\Processes\Config\SchemaLocator\Virtual" type="Magento\Framework\Config\GenericSchemaLocator">
        <arguments>
            <argument name="moduleName" xsi:type="string">Dopamedia_StateMachine</argument>
            <argument name="schema" xsi:type="string">state_machine.xsd</argument>
        </arguments>
    </virtualType>
</config>