<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="model_load_before">
        <observer name="statemachine_inject_process" instance="Dopamedia\StateMachine\Observer\ProcessInjectorObserver" />
    </event>
</config>